$global-font-family: "Helvetica Neue", "Segoe UI", Arial, "Hiragino Sans GB", "Microsoft YaHei", Roboto,sans-serif;


$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

$nike: rgb(6, 117, 145);
$light: rgb(204, 204, 204);
$dark: rgb(26, 26, 26);
$map-box-line-color:rgb(125, 181, 126)
